#openweather_body {
    font-size: large;
}
.bloc {
    background-color: blueviolet;
    color: white;
    width: 400px;
    padding: 10px;
    border-radius: 3px;
}
#weather-container  {
    text-align: center;
}
#select-city {
    padding : 10px;
    margin: 0 10px 0 10px;
    border-radius: 3px;
    text-align: center;
}
#current-icon {
     padding-bottom: 20px;
     font-size: 3em;
}
#current-weather  {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 20px;
}
#current-city {
    margin: 20px 20px 10px 20px;
    padding: 5px;
    background-color: darkmagenta;
    font-variant: small-caps;
    font-size: 1.2em;
}
#openweather_body p {
    padding-left: 10px;
}
.display {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 20px 20px 10px 20px;
    padding: 5px;
    background-color: darkmagenta;
    font-variant: small-caps;
    font-size: 1.2em;
    justify-content: space-between;
}
.weather_flex
 {
     display: flex;
     flex:1;
     flex-direction: row;
     justify-content: space-between;
     margin: 20px 20px 10px 20px;
 }